{% extends 'base.html' %}
{% block content %}

<h3>Provider List</h3>

{% for provider in providers %}
    <div class="card">
        <a href="{% url 'detail' provider.id %}">
            <div class="card-content">
                <span class="card-title">{{ provider.name }}</span>
                <p>Address: {{ provider.address }}</p>
                <p>Phone: {{ provider.phone }}</p>
                {% if provider.appointment == True %}
                    <p>Appointment : Yes </p>
                {% else %}
                    <p>Appointment : Not Required</p>
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}